In [1]:
# Dependencies:
import pandas as pd

In [47]:
# Load CSV and sample:
emission_df = pd.read_csv("Resources/GCB2022v27_MtCO2_flat.csv")
# emission_df[(emission_df['Year'].values >= 1965) & (emission_df['Country'].values == 'USA')]
emission_df.sample(25)

,Country,ISO 3166-1 alpha-3,Year,Total,Coal,Oil,Gas,Cement,Flaring,Other,Per Capita
41575,Oman,OMN,1981,6.012624,0.000000,1.744064,1.187136,0.000000,3.081424,NaN,5.589894
17846,Faeroe Islands,FRO,1916,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24773,Hungary,HUN,1771,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46017,South Sudan,SSD,1799,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47637,Ryukyu Islands,NaN,1787,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41920,Pakistan,PAK,1782,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36987,Montenegro,MNE,2017,2.103136,1.201792,0.901344,0.000000,0.000000,0.000000,NaN,3.325442
1350,Angola,AGO,2012,25.539987,0.000000,17.268432,1.421632,1.147056,5.702867,NaN,1.013963
3955,Bahamas,BHS,1897,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16494,El Salvador,SLV,1924,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47024,Romania,ROU,1990,173.463870,51.628329,43.882393,70.634714,4.445297,1.168364,1.704772,7.595993
50168,Seychelles,SYC,1870,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35316,Martinique,MTQ,1978,0.729136,0.000000,0.729136,0.000000,0.000000,0.000000,NaN,2.192317
9870,Central African Republic,CAF,1828,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36389,Mexico,MEX,1963,66.292194,4.077807,42.774836,11.658204,1.860651,5.920697,NaN,1.658046
23940,Haiti,HTI,1754,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21945,Greece,GRC,1935,2.911779,2.028744,0.748397,0.000000,0.134638,0.000000,NaN,0.428644
34253,Maldives,MDV,2003,0.505632,0.000000,0.505632,0.000000,0.000000,0.000000,NaN,1.701170
33583,Malawi,MWI,1877,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45423,Cameroon,CMR,2021,9.297284,0.000000,5.055503,1.611417,1.162479,1.467885,NaN,0.341829
54882,Switzerland,CHE,1960,19.498527,6.877328,11.120240,0.000000,1.500959,0.000000,NaN,3.659446
52386,Spain,ESP,1912,15.982368,15.883440,0.098928,0.000000,NaN,0.000000,NaN,0.794037
58117,Turks and Caicos Islands,TCA,1931,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33399,Madagascar,MDG,1965,0.556779,0.040304,0.498304,0.000000,0.018171,0.000000,NaN,0.096321
9730,Cape Verde,CPV,1960,0.021954,0.000000,0.018320,0.000000,0.003634,0.000000,NaN,0.104619

In [49]:
# Check null and drop any null values:
emission_df.isnull().sum()

Country                   0
ISO 3166-1 alpha-3     1632
Year                      0
Total                   200
Coal                  41360
Oil                   41387
Gas                   41486
Cement                42290
Flaring               41554
Other                 61484
Per Capita            44130
dtype: int64

In [53]:
emission_df = emission_df.dropna(how='any')
emission_df

,Country,ISO 3166-1 alpha-3,Year,Total,Coal,Oil,Gas,Cement,Flaring,Other,Per Capita
3232,Australia,AUS,1990,278.154156,141.879819,88.842090,34.454816,3.462872,7.272496,2.242063,16.315938
3233,Australia,AUS,1991,279.528510,146.082840,88.245572,32.786243,3.183033,7.001201,2.229622,16.184767
3234,Australia,AUS,1992,284.525345,150.051381,87.916828,33.970472,2.923411,7.303701,2.359551,16.293502
3235,Australia,AUS,1993,288.870537,150.098575,90.386578,35.670002,3.004698,7.136743,2.573941,16.383765
3236,Australia,AUS,1994,293.696553,151.376241,91.924087,37.032005,3.484276,6.880148,2.999795,16.494706
...,...,...,...,...,...,...,...,...,...,...,...
63099,Global,WLD,2017,36096.739276,14506.973805,12242.627935,7144.928128,1507.923185,391.992176,302.294047,4.749682
63100,Global,WLD,2018,36826.506600,14746.830688,12266.016285,7529.846784,1569.218392,412.115746,302.478706,4.792753
63101,Global,WLD,2019,37082.558969,14725.978025,12345.653374,7647.528220,1617.506786,439.253991,306.638573,4.775633
63102,Global,WLD,2020,35264.085734,14174.564010,11191.808551,7556.290283,1637.537532,407.583673,296.301685,4.497423
63103,Global,WLD,2021,37123.850352,14979.598083,11837.159116,7921.829472,1672.592372,416.525563,296.145746,4.693699

In [54]:
emission_df.isnull().sum()

Country               0
ISO 3166-1 alpha-3    0
Year                  0
Total                 0
Coal                  0
Oil                   0
Gas                   0
Cement                0
Flaring               0
Other                 0
Per Capita            0
dtype: int64

In [59]:
# Rename column ISO 3166-1 alpha-3 to Country Code:
emission_df = emission_df.rename(columns={'ISO 3166-1 alpha-3':'Country Code'})
emission_df.sample(25)

,Country,Country Code,Year,Total,Coal,Oil,Gas,Cement,Flaring,Other,Per Capita
18745,Finland,FIN,1999,58.866897,23.035742,26.722160,7.571017,0.478644,0.055150,1.004184,11.396186
60037,USA,USA,1947,2485.854436,1449.230772,791.342223,224.086245,16.647496,0.000000,4.547700,17.180792
9516,Canada,CAN,2018,584.369116,60.795568,266.964272,231.980501,6.914762,15.549502,2.164511,15.778726
21479,Germany,DEU,2013,831.207653,356.889616,280.001778,170.536123,12.502979,2.688788,8.588369,10.176318
39680,New Zealand,NZL,1990,25.502507,4.653308,12.390564,7.139258,0.448748,0.459728,0.410901,7.506502
47042,Romania,ROU,2008,105.851799,39.565137,28.949680,31.130563,4.142664,0.681804,1.381952,5.139059
55460,Taiwan,TWN,1994,161.168000,60.375289,79.801871,7.731840,11.129000,0.000000,2.130000,7.568905
27190,Italy,ITA,2012,403.696912,66.958995,172.679658,147.713829,10.071460,2.527781,3.745189,6.707027
47311,Russia,RUS,2005,1559.082760,416.422760,319.019961,745.182869,22.256030,41.530490,14.670650,10.842018
60069,USA,USA,1979,5008.578779,1427.458000,2441.892000,1080.485000,35.940399,8.866880,13.936500,22.718443
51405,Slovenia,SVN,2019,14.048142,4.530459,7.056562,1.753026,0.477618,0.124603,0.105873,6.648746
54918,Switzerland,CHE,1996,44.107436,0.575500,35.878412,5.585884,1.790952,0.044463,0.232224,6.238948
27717,Japan,JPN,1995,1239.909400,335.293184,709.328445,142.649074,42.142027,0.521556,9.975112,9.884957
47315,Russia,RUS,2009,1539.305658,416.977556,321.193282,730.871779,19.746372,38.288005,12.228664,10.752071
30437,Latvia,LVA,1995,9.133782,1.111259,5.597570,2.297133,0.094320,0.000009,0.033491,3.553792
27192,Italy,ITA,2014,349.390357,55.837154,157.836392,121.589383,8.338587,2.501145,3.287696,5.792012
47310,Russia,RUS,2004,1541.753926,415.369819,308.719743,742.806465,20.915348,39.637562,14.304989,10.680396
14945,Denmark,DNK,2007,54.709152,18.421879,24.168866,9.738138,1.407086,0.543359,0.429825,9.983928
44592,Portugal,PRT,2006,64.923915,13.081500,37.360884,9.091098,4.000136,0.535567,0.854731,6.157458
54920,Switzerland,CHE,1998,44.622854,0.439439,36.741925,5.567089,1.607489,0.042367,0.224546,6.277640
5412,Belgium,BEL,1994,124.795264,38.012820,57.369931,23.696035,3.178670,0.084182,2.453625,12.393784
52469,Spain,ESP,1995,267.577468,85.879299,145.250782,18.895139,12.364557,1.863344,3.324347,6.720591
57646,Turkey,TUR,2004,244.688735,93.373452,85.842936,44.367638,17.207184,0.140202,3.757324,3.609773
60038,USA,USA,1948,2582.558492,1433.190294,874.345227,251.764790,18.417082,0.000000,4.841100,17.544197
18746,Finland,FIN,2000,57.009923,21.985056,25.820298,7.715635,0.504844,0.058479,0.925612,11.013837

In [70]:
# Load CSV and drop columns not needed:
world_pop_df = pd.read_csv("Resources/world_pop.csv")
world_pop_df = world_pop_df.drop(columns=["Indicator Code","Indicator Name"])
world_pop_df

,Country Name,Country Code,1960,1961,1962,1963,1964,1965,1966,1967,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Aruba,ABW,54608,55811,56682,57475,58178,58782,59291,59522,...,102112,102880,103594,104257,104874,105439,105962,106442,106585,106537
1,Africa Eastern and Southern,AFE,130692579,134169237,137835590,141630546,145605995,149742351,153955516,158313235,...,552530654,567891875,583650827,600008150,616377331,632746296,649756874,667242712,685112705,702976832
2,Afghanistan,AFG,8622466,8790140,8969047,9157465,9355514,9565147,9783147,10010030,...,30466479,31541209,32716210,33753499,34636207,35643418,36686784,37769499,38972230,40099462
3,Africa Western and Central,AFW,97256290,99314028,101445032,103667517,105959979,108336203,110798486,113319950,...,376797999,387204553,397855507,408690375,419778384,431138704,442646825,454306063,466189102,478185907
4,Angola,AGO,5357195,5441333,5521400,5599827,5673199,5736582,5787044,5827503,...,25188292,26147002,27128337,28127721,29154746,30208628,31273533,32353588,33428486,34503774
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,Kosovo,XKX,947000,966000,994000,1022000,1050000,1078000,1106000,1135000,...,1807106,1818117,1812771,1788196,1777557,1791003,1797085,1788878,1790133,1786038
260,"Yemen, Rep.",YEM,5542459,5646668,5753386,5860197,5973803,6097298,6228430,6368014,...,26223391,26984002,27753304,28516545,29274002,30034389,30790513,31546691,32284046,32981641
261,South Africa,ZAF,16520441,16989464,17503133,18042215,18603097,19187194,19789771,20410677,...,53145033,53873616,54729551,55876504,56422274,56641209,57339635,58087055,58801927,59392255
262,Zambia,ZMB,3119430,3219451,3323427,3431381,3542764,3658024,3777680,3901288,...,14744658,15234976,15737793,16248230,16767761,17298054,17835893,18380477,18927715,19473125
263,Zimbabwe,ZWE,3806310,3925952,4049778,4177931,4310332,4447149,4588529,4734694,...,13265331,13555422,13855753,14154937,14452704,14751101,15052184,15354608,15669666,15993524

In [73]:
year_df = world_pop_df.drop(columns=['Country Name'])
year_df

,Country Code,1960,1961,1962,1963,1964,1965,1966,1967,1968,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,ABW,54608,55811,56682,57475,58178,58782,59291,59522,59471,...,102112,102880,103594,104257,104874,105439,105962,106442,106585,106537
1,AFE,130692579,134169237,137835590,141630546,145605995,149742351,153955516,158313235,162875171,...,552530654,567891875,583650827,600008150,616377331,632746296,649756874,667242712,685112705,702976832
2,AFG,8622466,8790140,8969047,9157465,9355514,9565147,9783147,10010030,10247780,...,30466479,31541209,32716210,33753499,34636207,35643418,36686784,37769499,38972230,40099462
3,AFW,97256290,99314028,101445032,103667517,105959979,108336203,110798486,113319950,115921723,...,376797999,387204553,397855507,408690375,419778384,431138704,442646825,454306063,466189102,478185907
4,AGO,5357195,5441333,5521400,5599827,5673199,5736582,5787044,5827503,5868203,...,25188292,26147002,27128337,28127721,29154746,30208628,31273533,32353588,33428486,34503774
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,XKX,947000,966000,994000,1022000,1050000,1078000,1106000,1135000,1163000,...,1807106,1818117,1812771,1788196,1777557,1791003,1797085,1788878,1790133,1786038
260,YEM,5542459,5646668,5753386,5860197,5973803,6097298,6228430,6368014,6515904,...,26223391,26984002,27753304,28516545,29274002,30034389,30790513,31546691,32284046,32981641
261,ZAF,16520441,16989464,17503133,18042215,18603097,19187194,19789771,20410677,21050540,...,53145033,53873616,54729551,55876504,56422274,56641209,57339635,58087055,58801927,59392255
262,ZMB,3119430,3219451,3323427,3431381,3542764,3658024,3777680,3901288,4029173,...,14744658,15234976,15737793,16248230,16767761,17298054,17835893,18380477,18927715,19473125
263,ZWE,3806310,3925952,4049778,4177931,4310332,4447149,4588529,4734694,4886347,...,13265331,13555422,13855753,14154937,14452704,14751101,15052184,15354608,15669666,15993524

In [76]:
year_df = year_df.T
year_df

,0,1,2,3,4,5,6,7,8,9,...,254,255,256,257,258,259,260,261,262,263
Country Code,ABW,AFE,AFG,AFW,AGO,ALB,AND,ARB,ARE,ARG,...,VIR,VNM,VUT,WLD,WSM,XKX,YEM,ZAF,ZMB,ZWE
1960,54608,130692579,8622466,97256290,5357195,1608800,9443,93359407,133426,20349744,...,32500,32718461,64608,3031564839,113335,947000,5542459,16520441,3119430,3806310
1961,55811,134169237,8790140,99314028,5441333,1659800,10216,95760348,140984,20680653,...,34300,33621982,66462,3072510552,116820,966000,5646668,16989464,3219451,3925952
1962,56682,137835590,8969047,101445032,5521400,1711319,11014,98268683,148877,21020359,...,35000,34533889,68391,3126934725,120163,994000,5753386,17503133,3323427,4049778
1963,57475,141630546,9157465,103667517,5599827,1762621,11839,100892507,157006,21364017,...,39800,35526727,70400,3193508879,123416,1022000,5860197,18042215,3431381,4177931
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2017,105439,632746296,35643418,431138704,30208628,2873457,73837,423664839,9068296,44044811,...,107281,94033048,290239,7578157615,207630,1791003,30034389,56641209,17298054,14751101
2018,105962,649756874,36686784,442646825,31273533,2866376,75013,432545676,9140169,44494502,...,107001,94914330,297298,7661776338,209701,1797085,30790513,57339635,17835893,15052184
2019,106442,667242712,37769499,454306063,32353588,2854191,76343,441467739,9211657,44938712,...,106669,95776716,304404,7742681934,211905,1788878,31546691,58087055,18380477,15354608
2020,106585,685112705,38972230,466189102,33428486,2837849,77700,449228296,9287289,45376763,...,106290,96648685,311685,7820981524,214929,1790133,32284046,58801927,18927715,15669666
2021,106537,702976832,40099462,478185907,34503774,2811666,79034,456520777,9365145,45808747,...,105870,97468029,319137,7888408686,218764,1786038,32981641,59392255,19473125,15993524

In [68]:
#world_pop_df = world_pop_df.T
#world_pop_df

,0,1,2,3,4,5,6,7,8,9,...,254,255,256,257,258,259,260,261,262,263
Country Name,Aruba,Africa Eastern and Southern,Afghanistan,Africa Western and Central,Angola,Albania,Andorra,Arab World,United Arab Emirates,Argentina,...,Virgin Islands (U.S.),Vietnam,Vanuatu,World,Samoa,Kosovo,"Yemen, Rep.",South Africa,Zambia,Zimbabwe
Country Code,ABW,AFE,AFG,AFW,AGO,ALB,AND,ARB,ARE,ARG,...,VIR,VNM,VUT,WLD,WSM,XKX,YEM,ZAF,ZMB,ZWE
1960,54608,130692579,8622466,97256290,5357195,1608800,9443,93359407,133426,20349744,...,32500,32718461,64608,3031564839,113335,947000,5542459,16520441,3119430,3806310
1961,55811,134169237,8790140,99314028,5441333,1659800,10216,95760348,140984,20680653,...,34300,33621982,66462,3072510552,116820,966000,5646668,16989464,3219451,3925952
1962,56682,137835590,8969047,101445032,5521400,1711319,11014,98268683,148877,21020359,...,35000,34533889,68391,3126934725,120163,994000,5753386,17503133,3323427,4049778
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2017,105439,632746296,35643418,431138704,30208628,2873457,73837,423664839,9068296,44044811,...,107281,94033048,290239,7578157615,207630,1791003,30034389,56641209,17298054,14751101
2018,105962,649756874,36686784,442646825,31273533,2866376,75013,432545676,9140169,44494502,...,107001,94914330,297298,7661776338,209701,1797085,30790513,57339635,17835893,15052184
2019,106442,667242712,37769499,454306063,32353588,2854191,76343,441467739,9211657,44938712,...,106669,95776716,304404,7742681934,211905,1788878,31546691,58087055,18380477,15354608
2020,106585,685112705,38972230,466189102,33428486,2837849,77700,449228296,9287289,45376763,...,106290,96648685,311685,7820981524,214929,1790133,32284046,58801927,18927715,15669666
2021,106537,702976832,40099462,478185907,34503774,2811666,79034,456520777,9365145,45808747,...,105870,97468029,319137,7888408686,218764,1786038,32981641,59392255,19473125,15993524

In [31]:
world_pop_df.isnull().sum()

Country Name    0
Country Code    0
1960            0
1961            0
1962            0
               ..
2017            0
2018            0
2019            0
2020            0
2021            0
Length: 64, dtype: int64

In [65]:
#combined_df = pd.merge(world_pop_df, emission_df, how='left', on=['Country Code', 'Country Code'])
#combined_df

In [66]:
#combined_df.isnull().sum()

In [67]:
#combined_df = combined_df.dropna(how='any')
#combined_df