In [1]:
import pandas as pd

In [3]:
temp_change_df = pd.read_csv("../Resources/Annual_Surface_Temperature_Change.csv")

In [10]:
temp_change_df.head()

,ObjectId,Country,ISO2,ISO3,Indicator,Unit,Source,CTS_Code,CTS_Name,CTS_Full_Descriptor,...,F2012,F2013,F2014,F2015,F2016,F2017,F2018,F2019,F2020,F2021
0,1,"Afghanistan, Islamic Rep. of",AF,AFG,Temperature change with respect to a baseline ...,Degree Celsius,Food and Agriculture Organization of the Unite...,ECCS,Surface Temperature Change,"Environment, Climate Change, Climate Indicator...",...,0.234,1.308,0.457,1.101,1.607,1.568,1.580,0.960,0.544,1.421
1,2,Albania,AL,ALB,Temperature change with respect to a baseline ...,Degree Celsius,Food and Agriculture Organization of the Unite...,ECCS,Surface Temperature Change,"Environment, Climate Change, Climate Indicator...",...,1.568,1.444,1.322,1.665,1.601,1.269,2.146,1.823,1.623,1.682
2,3,Algeria,DZ,DZA,Temperature change with respect to a baseline ...,Degree Celsius,Food and Agriculture Organization of the Unite...,ECCS,Surface Temperature Change,"Environment, Climate Change, Climate Indicator...",...,1.128,1.173,1.676,1.101,1.736,1.498,1.211,1.094,1.913,2.317
3,4,American Samoa,AS,ASM,Temperature change with respect to a baseline ...,Degree Celsius,Food and Agriculture Organization of the Unite...,ECCS,Surface Temperature Change,"Environment, Climate Change, Climate Indicator...",...,0.646,0.883,0.554,0.394,0.924,0.820,0.574,0.924,0.815,0.653
4,5,"Andorra, Principality of",AD,AND,Temperature change with respect to a baseline ...,Degree Celsius,Food and Agriculture Organization of the Unite...,ECCS,Surface Temperature Change,"Environment, Climate Change, Climate Indicator...",...,1.196,0.757,1.857,1.546,1.830,1.771,1.761,1.813,2.401,1.367

In [7]:
temp_change_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 227 entries, 0 to 226
Data columns (total 71 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ObjectId             227 non-null    int64
 1   Country              227 non-null    object
 2   ISO2                 225 non-null    object
 3   ISO3                 227 non-null    object
 4   Indicator            227 non-null    object
 5   Unit                 227 non-null    object
 6   Source               227 non-null    object
 7   CTS_Code             227 non-null    object
 8   CTS_Name             227 non-null    object
 9   CTS_Full_Descriptor  227 non-null    object
 10  F1961                191 non-null    float64
 11  F1962                192 non-null    float64
 12  F1963                191 non-null    float64
 13  F1964                190 non-null    float64
 14  F1965                190 non-null    float64
 15  F1966                194 non-null    float64
 16  F1967                192 non-null    float64
 17  F1968                191 non-null    float64
 18  F1969                191 non-null    float64
 19  F1970                190 non-null    float64
 20  F1971                193 non-null    float64
 21  F1972                195 non-null    float64
 22  F1973                195 non-null    float64
 23  F1974                193 non-null    float64
 24  F1975                190 non-null    float64
 25  F1976                192 non-null    float64
 26  F1977                191 non-null    float64
 27  F1978                192 non-null    float64
 28  F1979                191 non-null    float64
 29  F1980                193 non-null    float64
 30  F1981                192 non-null    float64
 31  F1982                192 non-null    float64
 32  F1983                189 non-null    float64
 33  F1984                190 non-null    float64
 34  F1985                190 non-null    float64
 35  F1986                191 non-null    float64
 36  F1987                191 non-null    float64
 37  F1988                191 non-null    float64
 38  F1989                192 non-null    float64
 39  F1990                191 non-null    float64
 40  F1991                190 non-null    float64
 41  F1992                211 non-null    float64
 42  F1993                209 non-null    float64
 43  F1994                209 non-null    float64
 44  F1995                211 non-null    float64
 45  F1996                211 non-null    float64
 46  F1997                208 non-null    float64
 47  F1998                212 non-null    float64
 48  F1999                210 non-null    float64
 49  F2000                211 non-null    float64
 50  F2001                209 non-null    float64
 51  F2002                212 non-null    float64
 52  F2003                215 non-null    float64
 53  F2004                214 non-null    float64
 54  F2005                213 non-null    float64
 55  F2006                216 non-null    float64
 56  F2007                217 non-null    float64
 57  F2008                213 non-null    float64
 58  F2009                214 non-null    float64
 59  F2010                215 non-null    float64
 60  F2011                217 non-null    float64
 61  F2012                214 non-null    float64
 62  F2013                216 non-null    float64
 63  F2014                216 non-null    float64
 64  F2015                216 non-null    float64
 65  F2016                215 non-null    float64
 66  F2017                214 non-null    float64
 67  F2018                216 non-null    float64
 68  F2019                215 non-null    float64
 69  F2020                214 non-null    float64
 70  F2021                214 non-null    float64
dtypes: float64(61), int64(1), object(9)
memory usage: 126.0+ KB

In [12]:
# Let's take a look at what values are in some of these columns
for col in ['Indicator', 'Unit', 'Source', 'CTS_Code', 'CTS_Name', 'CTS_Full_Descriptor']:
    print(temp_change_df[col].value_counts())
    print("--------------------")

Temperature change with respect to a baseline climatology, corresponding to the period 1951-1980    227
Name: Indicator, dtype: int64
--------------------
Degree Celsius    227
Name: Unit, dtype: int64
--------------------
Food and Agriculture Organization of the United Nations (FAO). 2022. FAOSTAT Climate Change, Climate Indicators, Temperature change. License: CC BY-NC-SA 3.0 IGO. Extracted from:Â https://www.fao.org/faostat/en/#data/ET. Accessed on 2022-05-03.    227
Name: Source, dtype: int64
--------------------
ECCS    227
Name: CTS_Code, dtype: int64
--------------------
Surface Temperature Change    227
Name: CTS_Name, dtype: int64
--------------------
Environment, Climate Change, Climate Indicators, Surface Temperature Change    227
Name: CTS_Full_Descriptor, dtype: int64
--------------------

In [14]:
# Since these columns all have the same values, we can pull them out as a data series
temp_change_metadata = temp_change_df[['Indicator', 'Unit', 'Source', 'CTS_Code', 
                                       'CTS_Name', 'CTS_Full_Descriptor']].iloc[0]
temp_change_metadata

Indicator              Temperature change with respect to a baseline ...
Unit                                                      Degree Celsius
Source                 Food and Agriculture Organization of the Unite...
CTS_Code                                                            ECCS
CTS_Name                                      Surface Temperature Change
CTS_Full_Descriptor    Environment, Climate Change, Climate Indicator...
Name: 0, dtype: object

In [22]:
# Now we can get rid of these rows as well as the ISO2 and ObjectID
temp_change_years = temp_change_df.drop(columns=['ObjectId', 'ISO2', 'Indicator', 'Unit', 'Source', 
                                         'CTS_Code', 'CTS_Name', 'CTS_Full_Descriptor'])
temp_change_years.head()

,Country,ISO3,F1961,F1962,F1963,F1964,F1965,F1966,F1967,F1968,...,F2012,F2013,F2014,F2015,F2016,F2017,F2018,F2019,F2020,F2021
0,"Afghanistan, Islamic Rep. of",AFG,-0.105,-0.157,0.852,-0.743,-0.211,0.156,-0.389,-0.384,...,0.234,1.308,0.457,1.101,1.607,1.568,1.580,0.960,0.544,1.421
1,Albania,ALB,0.627,0.330,0.068,-0.172,-0.393,0.553,-0.080,0.073,...,1.568,1.444,1.322,1.665,1.601,1.269,2.146,1.823,1.623,1.682
2,Algeria,DZA,0.162,0.131,0.110,0.284,-0.081,0.436,0.006,-0.027,...,1.128,1.173,1.676,1.101,1.736,1.498,1.211,1.094,1.913,2.317
3,American Samoa,ASM,0.066,-0.055,0.160,-0.150,-0.582,0.166,-0.364,-0.174,...,0.646,0.883,0.554,0.394,0.924,0.820,0.574,0.924,0.815,0.653
4,"Andorra, Principality of",AND,0.744,0.102,-0.762,0.300,-0.492,0.407,0.621,-0.013,...,1.196,0.757,1.857,1.546,1.830,1.771,1.761,1.813,2.401,1.367